@import '../partials/colors';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    width: 33%;

    h3, h4, p {
        color: $white;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: bolder;
        margin-top: 1rem;
    }

    h4 {
        font-size: 1.3rem;
        font-weight: normal;
        margin-top: .5rem;
    }

    p {
        font-size: 1rem;
        font-weight: 200;
        margin-top: .5rem;
    }
}