.educ {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.education {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

    img:hover {
        animation: floatAnimation 3s ease-in-out infinite;
    }

}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Ajuste conforme necessário */
    }
    100% {
        transform: translateY(0);
    }
}



